.userName {
  color: #e8e8e8;
  margin-left: 20px;
  font-size: 1.5rem;
}

Link {
  text-decoration: none;
  color: #e8e8e8;
}

.headerBar {
  background-color: #3d3d3d;
  padding: 20px;
}

.searchLink {
  position: relative;
  left: 15%;
  font-size: 2.5rem;
  transition: all .6s ;
}

.profileLink {
  position: relative;
  font-size: 2.5rem;
  left: 80%;
  transition: all .6s ;
}

.searchLink, .profileLink :hover {
  -webkit-text-stroke: 2px #6441a5; 
  transition-timing-function: ease-in-out;
}